.shopping_cart_product--container,
.shopping_cart_product--left,
.shopping_cart_product--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
}

.shopping_cart_product--container {
  padding: 5px 0;
  margin-bottom: 15px;
  transform: scale(1);
  transition: .2s;
}

.shopping_cart_product--container:hover {
  transform: scale(.95);
  transition: .2s;
}

.shopping_cart_product_img--container {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.shopping_cart_product_img--container img {
  width: 100%;
  border-radius: 20px;
}

.shopping_cart_product--title {
  font-size: var(--fs-7);
  color: var(--very-light-pink);
  font-weight: var(--fw-600);
}

.shopping_cart_product--container:hover .shopping_cart_product--title {
  color: var(--black);
}

.shopping_cart_product--price {
  font-size: var(--fs-6);
}

.close_btn {
  width: 40px;
  height: 40px;
}

.close_btn-g,
.close_btn-r {
  width: 100%
}

.close_btn-r {
  display: none;
}

.close_btn:hover .close_btn-r {
  display: block;
}

.close_btn:hover .close_btn-g {
  display: none;
}
