.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title {
  font-size: 15rem;
  font-weight: var(--fw-800);
  margin-bottom: -70px;
}

.subtitle {
  font-size: var(--fs-1);
}

p {
  color: var(--very-light-pink);
  font-size: var(--fs-6);
}

button {
  padding: 15px;
  margin-top: 20px;
  background-color: var(--hospital-green);
  border-radius: 15px;
  color: var(--white);
}

button:hover {
  background-color: var(--very-light-pink);
}

@media (max-width: 500px) {

  .title {
    font-size: 8rem;
    margin-bottom: 0;
  }

  .subtitle {
    font-size: var(--fs-5);
  }

  p {
    text-align: center;
    color: var(--very-light-pink);
    font-size: var(--fs-6);
  }
}
