<section class="container">
  <aside class="images__container">
    <figure class="main_image--container">
      <img [src]="cover()" [alt]="product()?.title">
    </figure>
    <div class="bottom_img">
      <figure class="bottom_img--container">
        <img
        *ngFor="let image of product()?.images"
        [src]="image"
        [alt]="product()?.title"
        (click)="changeCover(image)"
        [class.active]=" image === cover()">
      </figure>
    </div>
  </aside>
  <aside class="text_container">
    <h3 class="category_name">{{product()?.category?.name}}</h3>
    <h2 class="product_title">{{product()?.title}}</h2>
    <p class="product_description">{{product()?.description}}</p>
    <p class="product_price">{{product()?.price | currency}}</p>
    <button
    class="add_cart--btn"
    (click)="addToCart()"
    >Add To Cart</button>
  </aside>
</section>
