<section class="container">
  <aside class="images__container">
    <figure class="main_image--container">
      <img src="" alt="">
    </figure>
    <div class="bottom_img">
      <figure class="bottom_img--container">
        <img src="" alt="">
      </figure>
      <figure class="bottom_img--container">
        <img src="" alt="">
      </figure>
      <figure class="bottom_img--container">
        <img src="" alt="">
      </figure>
    </div>
  </aside>
  <aside class="text_container">
    <h3 class="category_name">Brand name</h3>
    <h2 class="product_title">The catcher in the rye</h2>
    <p class="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolores veniam ex nostrum ullam dolorem sapiente nam tempora voluptates molestias eaque quibusdam, sint asperiores deleniti ducimus blanditiis maiores ipsum tempore?</p>
    <p class="product_price">$58.00</p>
    <button class="add_cart--btn">Add To Cart</button>
  </aside>
</section>
