<article class="product_card">
  <figure
  class="productimg_container"
  (click)="showDetail()">
    <img
    class="product_img"
    *ngIf="product.images.length > 0"
    [src]="product.images[0]"
    [alt]="product.title">
  </figure>
  <div class="product_buttom">
    <span class="product_text--container">
      <h2 class="product_price">{{product.price | currency}}</h2>
      <p class="product_title">{{product.title}}</p>
    </span>
  </div>
  <button class="add_btn" (click)="addToCart()">
    Add to cart
  </button>
</article>
