<app-nav></app-nav>
<main class="container">
  <section class="categories_container">
    <h2 class="category_title">Categories</h2>
    <ul class="categories_list--container">
      <li
      class="category_item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
        <a
        routerLink="/">All</a>
      </li>
      <li
      class="category_item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      *ngFor="let category of categories()">
        <a
        routerLink="/"
        [queryParams]="{category_id: category.id}"
        >{{category.name}}</a>
      </li>
    </ul>
  </section>
  <section class="products_container">
    <app-product
    *ngFor="let product of products()"
    [product]="product"
    (addedProduct)="addToCart($event)"
    (showProductDetail)="onShowProductDetail($event)">
    </app-product>
    <!-- <button (click)="loadMoreProducts()">Load more</button> -->
  </section>
  <section class="product_detail--container" [class.active]="showProductDetail">
    <button class="close_container" (click)="togglePorductDetail()">
      <img class="close_btn-g" src="../../../assets/svg/bx-x.svg" alt="X icon">
      <img class="close_btn-r" src="../../../assets/svg/bx-x-red.svg" alt="X icon">
    </button>
    <swiper-container navigation="true" grab-cursor="true">
      <swiper-slide
      class="product_detail_img--container"
      *ngFor="let image of productDetail?.images">
        <img [src]="image" [alt]="productDetail?.title">
      </swiper-slide>
    </swiper-container>
    <!-- <figure class="product_detail_img--container">
      <img [src]="productDetail.images" [alt]="productDetail.title">
    </figure> -->
    <div class="product_detail--text">
      <p class="product_detail--price">{{productDetail?.price | currency}}</p>
      <h3 class="product_detail--name">{{productDetail?.title | slice :0 :25}}</h3>
      <p class="product_detail--des">{{productDetail?.description | slice :0 :110}}...</p>
      <a [routerLink]="['/product', productDetail?.id]">
        <button
        class="product_detail--btn"
        >More details</button>
      </a>
    </div>
  </section>
</main>
