<header class="header">
  <section class="container">
    <nav class="navbar">
      <button
      class="nav-toggle-btn"
      (click)="toggleNavBar()"
      [class.active]="activeMenu"
      id="box">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      </button>
      <a routerLink="/" class="logo_container">
        <img class="logo" src="./../../../assets/svg/logo_yard_sale.svg" alt="Yard Sale logo">
      </a>
      <ul class="navbar_list">
        <li class="navbar_item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/">Products</a>
        </li>
        <li class="navbar_item">
          <a routerLink="/about">About</a>
        </li>
        <li class="navbar_item">
          <a routerLink="/services">Services</a>
        </li>
      </ul>
      <div class="navbar_right">
        <a href="" class="login">Sign in</a>
        <button
        (click)="toggleShoppingCart()"
        [class.active]="activeShoppingCart"
         class="shoppingcart_container">
          <img class="shoppingcart_img" src="./../../../assets/svg/icon_shopping_cart.svg" alt="Shopping cart img">
          <img class="shoppingcart_img grey" src="./../../../assets/svg/icon_shopping_cart_gray.svg" alt="Shopping cart img">
          <p class="shoppingcart_item">{{cart().length}}</p>
          <p class="shoppingcart_item black">{{cart().length}}</p>
        </button>
      </div>
    </nav>
  </section>
  <section class="side_navbar" [class.active]="activeMenu">
    <ul class="side_navbar-list">
      <li class="side_navbar-item">
        <a routerLink="/" (click)="toggleNavBar()">Products</a>
      </li>
      <li class="side_navbar-item">
        <a routerLink="/about" (click)="toggleNavBar()">About</a>
      </li>
      <li class="side_navbar-item">
        <a routerLink="/services" (click)="toggleNavBar()">Services</a>
      </li>
    </ul>
    <div>
      <a class="side_navbar_login" href="">Log in</a>
    </div>
  </section>
  <section
  [class.active]="activeShoppingCart"
  class="shopping_cart--container">
    <div class="container">
      <h2 class="shopping_cart--title">Shopping cart</h2>
    <div
    class="products_container"
    *ngFor="let product of cart()">
    <app-shopping-cart-product [product]="product"></app-shopping-cart-product>
    </div>
    <div>
      <span class="total_container">
        <h3>Total</h3>
        <p>{{total() | currency}}</p>
      </span>
      <button class="checkout_btn">Checkout</button>
    </div>
    </div>
  </section>
</header>
