<header class="header">
  <section class="container">
    <nav class="navbar">
      <button
      class="nav-toggle-btn"
      (click)="toggleNavBar()"
      [class.active]="activeMenu"
      id="box">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      </button>
      <a href="" class="logo_container">
        <img class="logo" src="./../../../assets/svg/logo_yard_sale.svg" alt="Yard Sale logo">
      </a>
      <ul class="navbar_list">
        <li class="navbar_item">
          <a href="">All</a>
        </li>
        <li class="navbar_item">
          <a href="">Clothes</a>
        </li>
        <li class="navbar_item">
          <a href="">Electronics</a>
        </li>
        <li class="navbar_item">
          <a href="">Furniture</a>
        </li>
        <li class="navbar_item">
          <a href="">Toys</a>
        </li>
        <li class="navbar_item">
          <a href="">Others</a>
        </li>
      </ul>
      <div class="navbar_right">
        <a href="" class="login">Sign in</a>
        <figure class="shoppingcart_container">
          <img class="shoppingcart_img" src="./../../../assets/svg/icon_shopping_cart.svg" alt="Shopping cart img">
          <p class="shoppingcart_item">1</p>
        </figure>
      </div>
    </nav>
  </section>
  <section class="side_navbar" [class.active]="activeMenu">
    <ul class="side_navbar-list">
      <li class="side_navbar-item">
        CATEGORIES
      </li>
      <li class="side_navbar-item">
        <a href="" (click)="toggleNavBar()">All</a>
      </li>
      <li class="side_navbar-item">
        <a href="" (click)="toggleNavBar()">Clothes</a>
      </li>
      <li class="side_navbar-item">
        <a href="" (click)="toggleNavBar()">Electronics</a>
      </li>
      <li class="side_navbar-item">
        <a href="" (click)="toggleNavBar()">Furniture</a>
      </li>
      <li class="side_navbar-item">
        <a href="" (click)="toggleNavBar()">Toys</a>
      </li>
      <li class="side_navbar-item">
        <a href="" (click)="toggleNavBar()">Others</a>
      </li>
    </ul>
    <div>
      <a class="side_navbar_login" href="">Log in</a>
    </div>
  </section>
</header>
